= turbo_frame_tag dom_id(tweet) do
  .card.card-body
    = tweet.body

  .mt-2
    = link_to "Likes (#{tweet.likes_count})", '#', class: 'btn btn-primary'
    = link_to "Retweets (#{tweet.retweets_count})", '#', class: 'btn btn-primary'
    = link_to "Edit", edit_tweet_path(tweet)
